/*APLICANDO ANIMACION TODOS LOS H1*/ 
h1{
    animation: pulso 3s infinite
}
@keyframes pulso{
    0%{
        transform: scale(.7);
        box-shadow: 0,0,0,0
    }
    30%{
        transform: scale(.8);
        box-shadow:0,0,0,0;
    }
    70%{
        transform: scale(.9);
        box-shadow:0,0,0,0;
    }
    100%{
        transform: scale(1);
        box-shadow: 0,0,0,0;

    }
}
